@charset "UTF-8";
p {
    font-family: 'Comic Sans MS';
    font-size: 14px;
}
a {
    font-family: 'Comic Sans MS';
}
h1 {
    font-family: 'Comic Sans MS';
    font-size: 94px;
}
h2 {
    font-family: 'Comic Sans MS';
    font-size: 48px;
}
h3 {
    font-family: 'Comic Sans MS';
    font-size: 40px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.margintop75 {
    margin-top: 75px;
}
.margintop35 {
    margin-top: 35px;
}
.margintop10 {
    margin-top: 10px;
}
.marginbtn35 {
    margin-bottom: 35px;
}
.dark-body {
    background: #402F30;
}
button {
    font-family: 'Comic Sans MS';
}
.white{
    color: white;
}
.black{
    color:black;
}
.orange {
    color: #F99F63;
}
.dark-brown {
    color: #402F30;
}
html {
    cursor: url("images/paw.png"), url("images/paw.cur") 0 0, default;
}
button, a {
    cursor: url("images/finger.png"), url("images/finger.cur") 0 0, pointer;
}
.relative{
    position: relative
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*START*/

.start-button {     
    width: 400px;
    height: 150px;
    border: 0;
    text-decoration: none;
    border-radius: 25px;
    font-size: 44px;
    color:#402F30;
    background-color: #F99F63;
}
.start-button:hover, a.start-button:hover {
    width: 400px;
    height: 150px;
    border: 0;
    border-radius: 25px;
    border-color: #F99F63;
    font-size: 44px;
    color: #F99F63;
    background-color: white;
}
.start-button:active, a.start-button.active {
    width: 400px;
    height: 150px;
    border: 0;
    border-radius: 25px;
    font-size: 44px;
    color: #402F30;
    background-color: #F99F63;
}
.gif1 {
    position: absolute;
    width: 650px;
    height: auto;
    bottom: 5px;
    right: 5px;
}

/*COMICS*/

.right-strelka {
    position: absolute;
    left: 30px;
}
.left-strelka {
    position: absolute;
    right: 30px;
}
.main-comics {
    width: 1200px;
    height: 900px;
}

/*THEORY*/

.theory-body {
    background-color: #EEEDEB;
}

/*THEORY 1*/

.bottom-stroke {
    position: absolute;
    width: auto;
    height: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #402F30;
}
.bottom-stroke p {
    color: #402F30;
    text-align: right;
    margin-right: 10px;
}
.top-stroke {
    position: absolute;
    width: auto;
    height: 40px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #402F30;
}
.top-stroke p {
    color: #402F30;
    text-align: right;
    margin-right: 10px;
}

/*SUBTITLES*/

.sub-main {
    position: absolute;
    bottom: 178px;
    width: 75%;
    height: 3061px;
    left: 100px;
    top: 1110px;

}
.sub-pic1 {
    position: absolute;
    right: 0;
    width: auto;
    height: fit-content;
    top: 10%;
}
.sub-pic2 {
    position: absolute;
    left: 0;
    width: auto;
    height: fit-content;

}
.sub-pic3 {
    position: absolute;
    right: 0;
    width: auto;
    height: fit-content;
    top: 3%;
}
.sub-pic4 {
    position: relative;
    margin-left: 5.5%;
    width: auto;
    height: fit-content;
    top: 30%;
}
.sub-tail {
    position: absolute;
    right: 4%;
    width: auto;
    height: fit-content;
    top: 0;
}