
/*START*/

.start-body {
    background-color: #402F30;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
.start{
    position: relative
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.start-button {     
    width: 400px;
    height: 150px;
    border: 0;
    text-decoration: none;
    border-radius: 25px;
    font-size: 44px;
    color:#402F30;
    background-color: #F99F63;
}
.start-button:hover, a.start-button:hover {
    width: 400px;
    height: 150px;
    border: 0;
    border-radius: 25px;
    border-color: #F99F63;
    font-size: 44px;
    color: #F99F63;
    background-color: white;
}
.start-button:active, a.start-button.active {
    width: 400px;
    height: 150px;
    border: 0;
    border-radius: 25px;
    font-size: 44px;
    color: #402F30;
    background-color: #F99F63;
}
.gif1 {
    position: absolute;
    width: 650px;
    height: auto;
    bottom: 5px;
    right: 5px;
}
.color-white{
    color: white;
}
.color-black{
    color:black;
}

/*THEORY*/

.theory-body {
    background-color: #EEEDEB;
}

/*THEORY 1*/

.bottom-stroke {
    position: absolute;
    width: auto;
    height: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #402F30;
}
.bottom-stroke p {
    color: #402F30;
    text-align: right;
    margin-right: 10px;
}
.top-stroke {
    position: absolute;
    width: auto;
    height: 40px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #402F30;
}
.top-stroke p {
    color: #402F30;
    text-align: right;
    margin-right: 10px;
}